<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.EmployeeDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <insert id="insertEmployee" parameterType="entity.Employee" >
        <!-- 具体的sql -->
        insert into employee(id,password,name,sex,phonenum,birthdate,age) values (#{id},#{password},#{name},#{sex},#{phonenum},#{birthdate},#{age})
    </insert>

    <select id="queryById" parameterType="String" resultType="entity.Employee">
        select * from employee where id=#{id}
    </select>

    <select id="queryAll" resultType="entity.Employee">
        select * from employee
    </select>

    <!--按姓名的模糊查询-->
    <select id="fuzzyQueryByName" parameterType="String" resultType="entity.Employee">
        select * from employee where name like CONCAT('%',#{name},'%')
    </select>

    <select id="login" parameterType="Map" resultType="entity.Employee">
        select * from employee where id=#{id1} and password=#{password1}
    </select>

    <delete id="deleteEmployeeByID" parameterType="String">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <update id="updateByID" parameterType="entity.Employee">
        update employee set password=#{password},name=#{name},sex=#{sex},phonenum=#{phonenum},birthdate=#{birthdate},age=#{age} where id=#{id};
    </update>

</mapper>