<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.OrderDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="queryById" parameterType="String" resultType="entity.Order" >
        select * from orderinfo where id=#{id}
    </select>

    <select id="queryAll" resultType="entity.Order" >
        <!-- 具体的sql -->
        select * from orderinfo order by ordertime desc
    </select>

    <insert id="insertOrder" parameterType="entity.Order" >
        <!-- 具体的sql -->
        insert into orderinfo values (#{id},#{cid},#{price},#{uid},#{num},#{ordertime},'')
    </insert>

    <select id="queryByUid" parameterType="String" resultType="entity.Order" >
        <!-- 具体的sql -->
        select * from orderinfo where uid=#{uid} order by ordertime desc
    </select>


    <select id="queryByDate" parameterType="String" resultType="entity.Order" >
        <!-- 具体的sql -->
        select * from orderinfo where ordertime=#{uid}
    </select>

    <select id="queryByCarID" parameterType="String" resultType="entity.Order" >
        <!-- 具体的sql -->
        select * from orderinfo where cid=#{cid}
    </select>

    <select id="getSales" resultType="Double">
        <!-- 具体的sql -->
        select sum(price) from orderinfo
        GROUP BY date_format(ordertime,'%m')
        ORDER BY date_format(ordertime,'%m')
    </select>

    <select id="getTypePrice" resultMap="getTP">
        <!-- 具体的sql -->
        SELECT c.type AS type, sum(o.price) AS price FROM carinfo AS c, orderinfo AS o
        where c.id=o.cid
        GROUP BY c.type
        ORDER BY price
    </select>

    <resultMap id="getTP" type="entity.TypePriceBean">
        <result column="type" property="type"/>
        <result column="price" property="sumPrice"/>
    </resultMap>
</mapper>